
<div #plate [style.width.px]="plateInfo.plateWidth" class="plate plate-main">
  <div class="plate-head"><img src="assets/img/plate/header.jpg" alt=""></div>
  <div class="plate-detail-wrap">
    <div class="plate-detail">
      <div>{{plateInfo.date.toString() | thaidate: 'full'}}</div>
      <div>หัวข้อ : {{plateInfo.title}}</div>
      <div>ผู้บรรยาย : {{plateInfo.teacherName}}</div>
    </div>
  </div>
  <div class="plate-picture">
    <img [src]="plateInfo.image" alt="">
  </div>
  <div class="plate-footer-wrap">
    <div class="plate-footer">
      <div>หนังสือครูสมาธิ เล่ม 1</div>
      <div>พระพรหมมงคลญาณ วิ. (หลวงพ่อวิริยังค์ สิรินฺธโร)</div>
    </div>
  </div>
</div>

<div #plateDummy [style.width.px]="plateInfo.plateWidth" class="plate plate-dummy">
  <div class="plate-head"><img src="assets/img/plate/header.jpg" alt=""></div>
  <div class="plate-detail-wrap">
    <div class="plate-detail">
      <div>{{plateInfo.date.toString() | thaidate: 'full'}}</div>
      <div>หัวข้อ : {{plateInfo.title}}</div>
      <div>ผู้บรรยาย : {{plateInfo.teacherName}}</div>
    </div>
  </div>
  <div class="plate-picture">
    <img [src]="plateInfo.image" alt="">
  </div>
  <div class="plate-footer-wrap">
    <div class="plate-footer">
      <div>หนังสือครูสมาธิ เล่ม 1</div>
      <div>พระพรหมมงคลญาณ วิ. (หลวงพ่อวิริยังค์ สิรินฺธโร)</div>
    </div>
  </div>
</div>

<div class="plate-button">
  <div class="plate-download">
    <button (click)="downloadImage()" mat-raised-button color="primary">Download</button>
    <img class="canvas" #canvas>
    <a #downloadLink></a>
  </div>
</div>

